.bg-red {
    background-color: red;
}

.Header {
    min-height: 80px;
    display: flex;
    flex-direction: row;
    background-color: #f7f4f4;
}

.logo {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 15px;
}

.logo h4 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 30px;
    margin: 15px 10px;
}

.menu {
    text-align: center;
    display: flex;
    justify-content: space-evenly;

}

.navbar {

    width: 100%;

    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}

.navbar-brand {
    margin-left: 10px;
    font-size: 25px;
    font-weight: 550;

}

.me-auto {
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}

.nav-link {

    padding-right: 20px;
    font-family: 'Courier New', Courier, monospace;
    position: relative;

}

.navbar-nav a {
    font-size: 16px;
    font-weight: 600;
    color: rgba(49, 49, 63, 0.404);



}

.navbar a:hover {
    color: rgba(49, 49, 63, 0.404);
}

.navbar-nav a:hover {
    color: black;

}

.imgage-nav {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 2px;
}

.login-cart {

    display: flex;
    flex-direction: row;
    align-self: center;

}

.cart a {
    color: rgba(49, 49, 63, 0.404);
}

.cart a:hover {
    color: #000;
}

.login {
    padding-left: 30px;
}

.login a {
    color: rgba(49, 49, 63, 0.404);
}

.login a:hover {
    color: #000;
}

.dropdown-item {
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
}