.bg-red {
    background-color: red;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

.Header {

    min-height: 80px;
    display: flex;
    flex-direction: row;
    background: #e4fbff;
    font-family: 'Courier New', Courier, monospace;

}

.logo {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 15px;
}

.logo h4 {

    color: rgb(6, 204, 204);
    font-weight: 600;
    font-size: 60px;
    margin: 15px 10px;
}

.menu {
    /* text-align: center; */
    display: flex;
    justify-content: space-evenly;

}

.navbar {

    width: 100%;

    text-transform: uppercase;

}

.navbar-brand {
    margin-left: 10px;
    font-size: 25px;
    font-weight: 550;

}

.me-auto {
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}

.nav-link {

    padding-right: 20px;

    position: relative;

}

.navbar-nav a {
    font-size: 16px;
    font-weight: 600;
    color: #000;



}

.navbar a:hover {
    color: rgb(6, 204, 204);
}

.navbar-nav a:hover {
    color: rgb(6, 204, 204);

}

.login-cart .cart a:hover {
    color: rgb(6, 204, 204);
}

.login-cart .login a:hover {
    color: rgb(6, 204, 204);
}

.imgage-nav {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 2px;
}

.login-cart {

    display: flex;
    flex-direction: row;
    align-self: center;

}

.cart a {
    color: rgba(49, 49, 63, 0.404);
}

.cart a:hover {
    color: #000;
}

.login {
    padding-left: 30px;
}

.login a {
    color: rgba(49, 49, 63, 0.404);
}

.login a:hover {
    color: #000;
}

.dropdown-item {
    text-transform: uppercase;
}


.subtours {
    display: flex;
    align-items: baseline !important;


}



.sub {
    display: flex;

    text-transform: none;

}





.sub:hover {
    color: #000;
}



.services {
    display: flex;
    padding: 20px;
}