.Banner {
    min-height: 400px;
    position: relative;

}



.carouselStyle {

    color: '#fff';
    background: #99989841;
    text-align: center;
    width: fit-content;
}



.carouselStyle img {

    margin: auto;
    height: 500px;
    width: fit-content;
}